<h1>Home</h1>	
<p>This is the home page of your snazzy new web application</p>
<p>With this application we can. . .</p>
<ul>
    <li>View a list of grocery items</li>
    <li>Add and edit those grocery items</li>
    <li>Learn the power of PHP!</li>
</ul>