<h1>Grocery Item</h1>   
{{ error_message }}
<form action = "" method = "POST">
    <div>
        <label for = "name">Name:</label>
        <input type = "text" name ="name" value = "{{ name }}" size = "45" />
    </div>
    <div>
        <label for = "qty">Quanity</label>
        <input type = "text" name="qty" value = "{{ qty }}" size = "45" />
    </div>
    <input type = "submit" value = "Save Item">
</form>
