<h1>User Account</h1>   
{{ error_message }}
<form action = "" method = "POST">
    <div>
        <label for = "name">Username:</label>
        <input type = "text" name ="username" value = "{{ username }}" size = "45" />
    </div>
    <div>
        <label for = "qty">Password:</label>
        <input type = "password" name="password" value = "{{ password }}" size = "45" />
    </div>
    <input type = "submit" value = "Save User">
</form>
